<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Money Manager</title>

    <link rel="stylesheet" href="../static/style.css">
</head>

<body>

    <div class="login">

        <div class="logo">
            <h1>Money Manage₹</h1>
            <p>A Place To Track Your Finances</p>
        </div>

        <div class="login-box">

            <label>E-mail</label>
            <input type="email" placeholder="Enter Your Mail ID">

            <label>Password</label>
            <input type="password" placeholder="Enter Password">

            <a href="#" class="forgot-password">
                Forgot Password?
            </a>

            <button class="login-btn">
                Login
            </button>

            <p class="signup-text">
                Don't have an account?
                <a href="signup.html">Sign Up</a>
            </p>

        </div>

    </div>

</body>
</html>